<div class="contact-form">

	<form method="post" action="{{ site.data.settings.contact_settings.form_action }}" id="contact-form">

		<div class="contact-form__item">
			<label class="contact-form__label">NAME *</label>
			<input type="text" name="name" placeholder="John Doe" class="contact-form__input">
		</div>

		<div class="contact-form__item">
			<label class="contact-form__label">EMAIL ADDRESS *</label>
			<input type="text" name="email" placeholder="someone@email.com" class="contact-form__input">
		</div>

		<div class="contact-form__item">
			<label class="contact-form__label">MESSAGE *</label>
			<textarea name="message" placeholder="give us a brief overview of your project" class="contact-form__textarea"></textarea>
		</div>

		<input type="hidden" name="_next" value="{{ site.data.settings.contact_settings.confirmation_url }}" />
		<input type="hidden" name="_subject" value="{{ site.data.settings.contact_settings.email_subject }}" />
		<input type="text" name="_honey" style="display:none" class="contact-form__gotcha">

		<div class="contact-form__item">
			<input type="submit" value="{{ site.data.settings.contact_settings.send_button_text }}" class="button button--large">
		</div>

	</form>

</div>